.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.space-form {
  margin-top: 20px;
}

.space-form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.space-form input,
.space-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.modal-button,
.modal-button-primary {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button {
  background-color: #ddd;
}

.modal-button-primary {
  background-color: #3b82f6;
  color: white;
}

.modal-button-primary:hover {
  background-color: #2563eb;
}
